.card {
    height: 100%;
    border: 1px solid #00000055;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.word {
    padding: 3% 5% 2% 5%;
    font-size: 3em;
    text-transform: capitalize;
}

.meaning {
    padding: 2% 5%;
}
